<%= render "shared/header" %>

<div class='main'>
  <div class='list-contents'>
    <h2 class='title'>曲のリスト</h2>
    <div class="subtitle" >
      新規投稿曲
    </div>
    
    <div class='item-lists'>
      <table class='list'>
        <thead class="thead-dark">
          <tr>
            <th>サムネイル</th>
            <th>タイトル</th>
            <th>シンガー</th>
            <th>カテゴリー</th>
          </tr>
        </thead>
        <tbody>
        <% @songs.each do |song| %>
          <tr>
            <td>
              <%= image_tag("http://img.youtube.com/vi/#{song.video}/default.jpg")%>
            </td>
            <td>
              <%= song.title %>
            </td>
            <td>
              <%= song.singer %>
            </td>
            <td>
              <%= song.category %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>



<%#= render "shared/footer" %>