<%= render "shared/header" %>

<div class="song-show">
  <div class="song-box">
    <h2 class="name">
      <%= @song.title %>
      - <%= @song.singer %>
    </h2>
    <div class="song-img-content">
      <% iframe = content_tag(
                :iframe,
                '', # empty body
                width: 560,
                height: 315,
                src: "https://www.youtube.com/embed/#{@song.video}",
                frameborder: 0,
                allowfullscreen: true
                ) %>
        <%= content_tag(:div, iframe, class: 'youtube-container') %>
    </div>

    <% if user_signed_in? && current_user.id == @song.user_id %>
    <div class="song-option" >
      <%= link_to "編集", edit_song_path, method: :get, class: "song-red-btn" %>
      <%= link_to "削除", song_path(@song.id), method: :delete, class:"song-destroy" %>
    </div> 
    <% end %>

    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-song">動画提供者</th>
          <td class="detail-value"><%= @song.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-song">カテゴリー</th>
          <td class="detail-value"><%= @song.category %></td>
        </tr>
        <tr>
          <th class="detail-song">歌詞（原語）</th>
          <td class="detail-value"><%= @song.lyrics_origin %></td>
        </tr>
        <tr>
          <th class="detail-song">歌詞（日本語）</th>
          <td class="detail-value"><%= @song.lyrics_japanese %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "pan.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り 0</span>
      </div>
    </div>
  </div>

  <div class="comments">
    <div class="comment-box">
      <h4 class="comment-box-head">＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.text %>
        </p>
      <% end %>
    </div>
    <% if user_signed_in? %>
      <%= form_with(model: [@song, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2", class:"comment-text" %>
        <p class="comment-warn">
        <button type="submit" class="comment-btn">
        <span>コメントする<span>
        </button>
      <% end %>
    <% end %>
  </div>

  <a href="#" class="another-song"><%= @song.category %>をもっと見る</a>
</div>

<%= render "shared/footer" %>